@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 67px;
  font-size: 34px;
  color: #E8833A;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C3CFD9;
}
.films{
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
}
.image{
  width: 145px;
  height: 209px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 9px;
  margin-bottom: 11px;
}
.image img {
  width: 100%;
  height: 100%;
}
.title{
  margin-top: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  font-size: 24px;
  color: #293845;
}
.info{
  width: 95%;
  margin: 0 auto 23px auto;
}
.info > span{
  font-size: 20px;
  color: #293845; 
}
.info > div{
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}
.time{
    width: 83px;
    height: 43px;
    border-radius: 3px;
    background-color: #E8833A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 8px;
}
footer{
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 117px;
  background-color: #DFE6ED;
  font-size: 20px;
  color: #293845;
  display: flex;
  align-items: center;
}
footer div{
  width: 64px;
  height: 89px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 9px;
  margin-bottom: 11px;
  margin-right: 22px;
}
footer img{
  width: 100%;
  height: 100%;
}
.seats{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  max-width: 350px;
  margin: 0 auto 0 auto;
  cursor: pointer;
}
.circle{
  width: 26px;
  height: 26px;
  background-color: #C3CFD9;
  border-radius: 50%;
  border: 1px solid #808F9D;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  margin-bottom: 18px;
  font-size: 11px;
}
.info-seats{
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  font-size: 13px;
  color: #4E5A65;
}
.info-seats > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-seats > div > div{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.select{
  background-color: #8DD7CF;
  border: 1px solid #49AF9F;
  color: black;
}
.disponible{
  background-color: #C3CFD9;
  border: 1px solid #7B8B99;
  margin: 0 27px;
}
.indisponible{
  background-color: #FBE192;
  color: #F7C52E;
  border: 1px solid #F7C52E;
  color: black;
}
form{
  width: 90%;
  max-width: 320px;
  margin: 41px auto;
}
form p{
  font-size: 18px;
  margin-left: 10px;
}
form div{
  display: flex;
  flex-direction: column;
}
input{
  height: 37px;
  border-radius: 3px;
  border: 1px solid #AFAFAF;
  font-style: italic;
  margin: 10px;
}
input::placeholder{
  color: #AFAFAF;
}
button{
  background-color: #E8833A;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
  width: 225px;
  height: 42px;
  font-size: 18px;
  margin-left: 29px;
}


